<ul class="organizations-list">
    <li>
        <a href="https://lesorchideesrouges.org/" target="_blank">
            <img src="/assets/images/logos/orchidees-rouges.svg" alt="">
            <span>Les Orchidées Rouges</span>
        </a>
    </li>
    <li>
        <a href="https://www.excisionparlonsen.org/" target="_blank">
            <img src="/assets/images/logos/excision-parlons-en.svg" alt="">
            <span>Excision parlons-en !</span>
        </a>
    </li>
    <li>
        <a href="https://www.excision.ch/" target="_blank">
            <img src="/assets/images/logos/rsce.svg" alt="">
            <span>Réseau Suisse contre l’excision</span>
        </a>
    </li>
    <li>
        <a href="https://federationgams.org/" target="_blank">
            <img src="/assets/images/logos/gams.png" alt="">
            <span>Fédération GAMS</span>
        </a>
    </li>
    <li>
        <a href="https://forum.generationequality.org/fr" target="_blank">
            <img src="/assets/images/logos/generation-egalite.png" alt="">
            <span>Génération égalité</span>
        </a>
    </li>
    <li>
        <a href="https://www.onufemmes.fr/" target="_blank">
            <img src="/assets/images/logos/onu-femmes-france.jpeg" alt="">
            <span>ONU Femmes France</span>
        </a>
    </li>
</ul>