<ul class="organizations-list">
  <li>
    <img src="/assets/images/logos/orchidees-rouges.svg" alt="">
    <a href="https://lesorchideesrouges.org/" target="_blank">Les Orchidées Rouges</a>
  </li>
  <li>
    <img src="/assets/images/logos/excision-parlons-en.svg" alt="">
    <a href="https://www.excisionparlonsen.org/" target="_blank">Excision parlons-en !</a>
  </li>
  <li>
    <img src="/assets/images/logos/rsce.svg" alt="">
    <a href="https://www.excision.ch/" target="_blank">Réseau Suisse contre l’excision</a>
  </li>
  <li>
    <img src="/assets/images/logos/gams.png" alt="">
    <a href="https://federationgams.org/" target="_blank">Fédération GAMS</a>
  </li>
  <li>
    <img src="/assets/images/logos/generation-egalite.png" alt="">
    <a href="https://forum.generationequality.org/fr" target="_blank">Génération égalité</a>
  </li>
  <li>
    <img src="/assets/images/logos/onu-femmes-france.jpeg" alt="">
    <a href="https://www.onufemmes.fr/" target="_blank">ONU Femmes France</a>
  </li>
</ul>