<!-- Icons -->
{{/*  {{- if os.FileExists "static/assets/images/favicons/favicon-32x32.png" -}}
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
{{ end -}}
{{- if os.FileExists "static/assets/images/favicons/favicon-16x16.png" -}}
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
{{ end -}}
{{- if os.FileExists "static/assets/images/favicons/favicon.ico" -}}
  <link rel="icon" type="image/ico" href="/assets/images/favicons/favicon.ico">
{{ end -}}
{{- if os.FileExists "static/assets/images/favicons/favicon.png" -}}
  <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png">
{{ end -}}  */}}