.primary-btn
  padding: $spacing-0 $spacing-3
  width: fit-content
  border-radius: $rounded-1
  text-decoration: none
  background-color: $black
  color: $white
  transition: background .3s ease-out
  &:hover
    background-color: $white
    color: $black
    border: 1px solid $black
