.storyPassage
  color: $white
  padding-bottom: $spacing-3
  padding-top: $spacing-4
  position: relative
  min-height: 100vh
  display: flex
  flex-direction: column

  &.hidden
    display: none

  > h1
    text-align: center
    margin-bottom: px2rem(30)

  > h2
    text-align: center
    text-transform: none
    font-weight: normal

  > p,
  > i,
  > b
    margin-top: 0
    margin-bottom: $spacing-2

  > .thoughts
    $thoughtSize: 50
    $thoughtHeight: -15
    padding: calc(#{$spacing-1} * 2) $spacing-1
    margin: 0 auto $spacing-2
    font-family: $thought-font-family
    position: relative
    width: fit-content

    &::before,
    &::after
      content: ''
      display: block
      position: absolute
      height: px2rem($thoughtSize)
      width: px2rem($thoughtSize)
      background-position: center
      background-size: contain
      background-repeat: no-repeat

    &::before
      bottom: 0
      left: 0
      background-image: url('/assets/images/left-thought.png')

    &::after
      top: 0
      right: 0
      background-image: url('/assets/images/right-thought.png')

    > p
      padding: 0 px2rem($thoughtSize * 0.8)

  > .dialog
    position: relative
    margin-bottom: px2rem(30)

    &[data-hero="true"]
      text-align: end

    > span
      color: $white

    > p
      color: $white-dark
      quotes: "\"" "\""

      &::before
        content: open-quote

      &::after
        content: close-quote

  > .paper
    background:
      image: url("/assets/images/paper.png")
      size: contain
      repeat: no-repeat
      position: center
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 252px
    width: 100%
    margin: 0 0 $spacing-2 0
    transform: rotate(-3.5deg)
    @include media-breakpoint-up(md)
      padding: 0 $spacing-3


    > span,
    > p
      color: $black
      padding: 0 px2rem(25)

    > p
      quotes: "\"" "\""

      &::before
        content: open-quote

      &::after
        content: close-quote

  > img
    width: 100%
    margin-bottom: $spacing-2
    height: auto
    @include media-breakpoint-up(md)
      max-height: 50vh
      object-fit: contain
      width: auto

    &.left
      width: 50%
      margin-right: auto

    &.right
      width: 50%
      margin-left: auto

    &.center
      width: 50%
      margin-left: auto
      margin-right: auto


    &.fill,
    &.chapter
      margin-top: auto
      max-width: none
      max-height: none
      width: calc(100% + 2 * #{$content-margin-sm})
      margin-left: -$content-margin-sm
      margin-right: -$content-margin-sm
      @include media-breakpoint-up(lg)
        margin-left: -$content-margin
        margin-right: -$content-margin


  > .storyPassage__links
    margin-top: auto
    display: flex
    flex-wrap: wrap
    &:not(.choicesList)
      justify-content: flex-end
      gap: $spacing-0
      a 
        @include icon($icon-arrow-down, after)
        align-items: center
        display: flex
        justify-content: space-between
        margin-left: -$spacing-0
        margin-right: -$spacing-0
        &::after
          border: 1px solid $white
          border-radius: $rounded-full
          margin-left: $spacing-0
          padding: half($spacing-0)
          transform: rotate(-45deg)
    &.choicesList
      justify-content: space-between
      gap: $spacing-2
      margin-top: $spacing-3
      li
        flex: 1
        position: relative
        padding: $spacing-0 $spacing-1
        width: 100%
        &::before
          content: ''
          background:
            image: url('/assets/illustrations/UI/choices.svg')
            position: right
            size: contain
            repeat: no-repeat
          height: 100%
          opacity: .3
          pointer-events: none
          position: absolute
          right: 0
          top: -45%
          width: 100%
          @include media-breakpoint-down(md)
            height: 120%
      a
        @include stretched-link
        display: block
        text-align: center
    a
      text-decoration: none
      padding: $spacing-0
    @include media-breakpoint-down(md)
      flex-direction: column

  > img.chapter + .storyPassage__links
    margin-top: $spacing-0