<section class="home-illustration" id="home-illustration">
  <img src="/assets/illustrations/home/hero-2.png" alt="" class="parallax cover" data-depth="-2.5">
  <img src="/assets/illustrations/home/hero-1.png" alt="" class="parallax cover" data-depth="1.6">

  <div class="home-illustration__label parallax" data-depth="0.2">
    <span>souffrance</span>
  </div>

  <div class="home-illustration__label parallax" data-depth="0.8">
    <span>tradition</span>
  </div>

  <div class="home-illustration__label parallax" data-depth="0.4">
    <span>excision</span>
  </div>

  <div class="home-illustration__label parallax" id="illustration-trigger" data-depth="0.8">
    <span>trauma</span>
  </div>

</section>
