<section class="introducing" id="home-sections">
  {{ $home_hero_intro_1 := resources.Get "/assets/illustrations/home/intro-1.png" }}
  {{ $home_hero_intro_2 := resources.Get "/assets/illustrations/home/intro-2.png" }}

  <div class="introducing__items">
    <hgroup>
      <h2 class="h1">L'excision</h2>
      <span>Un sujet <b>tabou</b></span>
    </hgroup>
    <p>Dans le monde, de nombreuses petites <b>filles</b> et jeunes <b>femmes</b> sont victimes de <b>mutilations</b> génitales, pour des raisons diverses, qu’elles soient culturelles, traditionnelles ou religieuses. </p>
  </div>

  <div class="introducing__items gradation-animation">
      <h2 class="h1 text-center">Une expérience interactive</h2>
      <h2 class="h1 active">Forte</h2>
      <h2 class="h1 gradation-animation__item">Frappante</h2>
      <h2 class="h1 gradation-animation__item">Marquante</h2>
  </div>

  <div class="introducing__items">
    <div>
      <hgroup>
        <h2 class="h1">Le projet</h2>
        <span>Sensibilisation & réalisme</span>
      </hgroup>
      <p>Au cours de quelques minutes, nous vous proposons de vous plonger dans le quotidien de plusieurs <b>personnages</b>.</p>
      <p>Ces histoires sont élaborées à partir de <b>témoignages</b> de personnes concernées, femmes excisées et médecins, pour garantir un récit au plus près du <b>réel</b>.</p>
    </div>
  </div>

</section>
