@keyframes anim-scroll
    0%
        opacity: 0
        transform: translateY(35%)
    10%
        opacity: 1
    75%
        opacity: 1
        transform: translateY(100%)
    100%
        opacity: 0
        transform: translateY(100%)

.marquee
    text-align: center
    overflow: hidden

.home
    position: relative
    padding-top: 0
    .home-btn
        display: block
        margin: 0 auto
        width: 100%
        @include media-breakpoint-up(md)
            max-width: 200px
    .home-hero
        align-items: center
        display: flex
        flex-direction: column
        height: 100vh
        justify-content: center
        padding-top: 0
        position: relative
        .cover
            height: 100%
            object-fit: contain
            pointer-events: none
            position: absolute
            &:nth-child(2)
                height: 40vh
        &__label
            background:
                image: url('/assets/images/home/label-background.svg')
                size: cover
                repeat: no-repeat
            color: $white
            min-width: 18vw
            padding: px2rem(6) px2rem(14)
            pointer-events: none
            position: absolute
            text-align: center
            @include media-breakpoint-up(md)
                padding: px2rem(10) px2rem(20)
        span
            color: $white
            font-family: $headings-font-family
            font-size: $body-highlight-font-size
        &__label:nth-child(6)
            left: 45%
            top: 25%
        &__label:nth-child(3)
            left: 5%
            top: 50%
        &__label:nth-child(4)
            bottom: 35%
            right: 15%
        &__label:nth-child(5)
            bottom: 24%
            left: 50%
            transform: translate(-50%)
        @include media-breakpoint-up(md)
            &__label:nth-child(3)
                left: 10%
            &__label:nth-child(5)
                bottom: 20%
        .scroll-arrow
            bottom: $spacing-4
            position: absolute
            animation: 2s anim-scroll cubic-bezier(0.165, 0.84, 0.44, 1) infinite
        + *
            margin-top: $spacing-4        
    .introducing
        &__items
            margin: $spacing-4 0
            &:not(:first-of-type)
                height: 150vh
                position: relative
                > *
                    position: sticky
                    top: 180px
            span
                font-size: $body-font-size-lg
                font-weight: 700
                font-family: $body-font-family
                text-transform: uppercase
            > .home-btn
                margin-top: $spacing-1
            b
                color: $red-light
            img + h2
                transform: translateY(-$spacing-3)
            img
                margin: 0 auto
