.introducing
    &__items
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        margin: $spacing-4 0
        span
            color: $black
            font-size: $body-highlight-font-size
            text-transform: uppercase
            text-align: center
            font-family: $body-font-family
            font-weight: bold
            transform: translateY(-$spacing-1)
        .items__second-text
            margin-top: $spacing-2
            font-size: $body-font-size
        span:has(+.items__second-text)
            color: $red-dark
