.stories-list
    .splide__slide
        transition: transform .3s ease
        &.is-prev
            transform: rotate(-15deg) skew(-10deg) scale(.9)
        &.is-next
            transform: rotate(15deg) skew(10deg) scale(.9)
    .story-heading
        text-align: center
        margin: auto
        position: relative
        width: fit-content
        h3
            @include h2
        img
            @include image-mask("../assets/images/mask.svg", true)
            max-height: 331px
            aspect-ratio: 222/331
            @include media-breakpoint-down(md)
                transform: scale(.9)
        a
            @include stretched-link
            text-decoration: none
    .story-modal    
        display: none