.stories-list
  color: $black

  .story-heading
    text-align: center
    margin: auto
    position: relative
    width: fit-content

  h3
    @include h2
    margin-top: px2rem(20)

  a
    @include stretched-link
    text-decoration: none
    color: $black

  img
    @include image-mask("../assets/images/mask.svg", true)
    max-height: 331px
    aspect-ratio: 222/331
    @include media-breakpoint-down(md)
      transform: scale(.9)

  .story-summary
    font-size: px2rem(12)
    line-height: 140%
    margin-top: $spacing-1
    padding: 0 $spacing-0

  [data-locked="true"]
    opacity: 0.7

.stories__page
  header#header .container
    justify-content: flex-end

  .story
    background: $black
    color: white
    min-height: 100vh

    &:not(.is-ending)
      padding-top: 0

  .is-ending
    .container
      display: flex
      flex-direction: column
      gap: $spacing-2
      @include media-breakpoint-up(lg)
        gap: $spacing-3

      > p
        margin: 0

    span.red
      font-family: inherit
      color: $red-light

    .secondary-btn
      margin: 0 auto
      width: auto

    ul:not(.organizations-list)
      list-style: disc
      padding-left: $spacing-0

      li + li
        margin-top: $spacing-0

    .organizations-list
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      column-gap: $spacing-3
      row-gap: $spacing-2

      li
        align-items: center
        display: flex
        flex-direction: column
        text-align: center
        width: 40%
        @include media-breakpoint-up(lg)
          width: 25%

        img
          display: block
          aspect-ratio: 1
          object-fit: contain
          height: 100px
          width: 100px
          @include media-breakpoint-up(md)
            height: 200px
            width: 200px

        a
          @include icon($icon-link, after)
          text-decoration: none

          &::after
            display: inline-table
            margin-left: 3px
            font-size: px2rem(12)