// Headings
@import url("https://use.typekit.net/zui4huj.css")

  
@font-face
    font-display: swap
    font-family: 'Lexend'
    font-weight: normal
    src: url('../assets/fonts/lexend/lexend-black.woff') format("woff")

// Body
@font-face
    font-display: swap
    font-family: 'Lexend'
    font-weight: bold
    src: url('../assets/fonts/lexend/lexend-regular.woff') format("woff")

// Icons
@font-face
    font-family: 'fonticons'
    src: url('../assets/fonts/fonticons/fonticons.eot')
    src: url('../assets/fonts/fonticons/fonticons.eot') format('embedded-opentype'),
    url('../assets/fonts/fonticons/fonticons.ttf') format('truetype'),
    url('../assets/fonts/fonticons/fonticons.woff') format('woff'),
    url('../assets/fonts/fonticons/fonticons.woff2') format('woff2')
    font-weight: normal
    font-style: normal
    font-display: block