// COLORS
$black: #272424
$border-color: #4D4B4B

// TYPOGRAPHY
$base-color: white
$link-color: white

$headings-font-family: 'Marydale'
$body-font-family: 'Lexend'
$body-font-size: 16px
$body-line-height: px2rem(24)

// GRID
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px)

$content-max-width: px2rem(1980)
$content-margin: px2rem(80)
$content-margin-sm: px2rem(37)

// Spacing
$spacing-0: px2rem(12)
$spacing-1: px2rem(24)
$spacing-2: px2rem(32)
$spacing-3: px2rem(64)
$spacing-4: px2rem(100)
$spacing-5: px2rem(128)

// icons
$icon-close: '\e904'
$icon-menu: '\e903'
$icon-arrow-down: "\e900"
$icon-chevron-down: "\e901"
$icon-chevron-right: "\e902"