body
    font-family: $body-font-family
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-size: $body-font-size
    font-variant-ligatures: common-ligatures
    text-rendering: optimizelegibility
    line-height: $body-line-height
    
a,
a:visited
    color: $link-color
    text-decoration-color: opacify($link-color, .3)
