{{ with .Site.GetPage "/stories" }}

<section>
    <div class="splide" aria-label="Histoires proposées">
        <div class="splide__track">
            <ul class="splide__list stories-list">
                {{ range .Pages }}
                <li class="splide__slide" {{ if .Params.locked}}data-locked="true" {{end}}>
                    <div class="content">
                        <div class="story-heading">
                            <img src="{{ .Params.illustration }}" alt="">
                            {{ if .Params.locked}}
                            <h3>{{ .Params.Title }}</h3>
                            <span>À venir</span>
                            {{ else }}
                            <h3>
                                <a href="{{ if .Params.Link }}{{ .Params.Link }}{{ else }}{{ .Permalink}} {{end}}">
                                    {{ .Params.Title }}
                                </a>
                            </h3>
                            <span>Découvrez l'histoire</span>
                            {{ end}}
                        </div>
                        <div class="story-modal">
                            <h4>{{.Params.protagonist}}</h4>
                            <p>{{ .Params.Summary }}</p>
                        </div>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>

{{ end }}