header#header
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 9
    > div
        align-items: center
        display: flex
        justify-content: space-between
        padding-bottom: $content-margin-sm
        padding-top: $content-margin-sm
    img 
        height: 40px
    nav
        button
            @include icon($icon-menu, before)
            color: white
            position: relative
            z-index: 3
            span
                font-size: 0
            &::before
                color: $black
                font-size: px2rem(24)
        .menu
            @extend .container
            background: $black
            display: none
            flex-direction: column
            justify-content: center
            height: 100vh
            left: 0
            position: absolute
            right: 0
            top: 0
            z-index: 2
            a
                @include h1
                @include icon($icon-arrow-down, after)
                text-decoration: none
                padding: px2rem(25) px2rem(31) px2rem(25) 0
                border-bottom: 1px solid transparentize($border-color, .6)
                position: relative
                &:first-of-type
                    border-top: 1px solid transparentize($border-color, .6)
                &::after
                    position: absolute
                    bottom: px2rem(25)
                    right: 0
        &.menu-is-opened
            button
                @include icon($icon-close, before)
                &::before
                  color: $white
            .menu
                display: flex
    .close-page 
        @include icon($icon-close, before)
        color: white
        font-size: px2rem(24)
        text-decoration: none
        span
            font-size: 0
