.story
  padding-bottom: $content-margin
  padding-top: $content-margin

  @include media-breakpoint-down(md)
    > .container
      > div + *
        margin-top: $spacing-4

  .story__passage
    padding-bottom: $content-margin
    padding-top: $content-margin
    min-height: 100vh