{{ $logo := resources.Get "/media/logo.svg" }}
{{ $storiesClass := "stories__page "}}

<header id="header" role="header" {{- if ne .body_class $storiesClass -}} class="global-header"{{- end -}}>
  <div class="container">
    {{ if ne .body_class $storiesClass }}
      <a href="/" title="Retour à l'accueil"><img src="{{ $logo.RelPermalink }}" alt="1 minute dans le monde"></a>
      <nav>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Ouvrir/fermer le menu"><span>Menu</span></button>
        <div class="menu" id="navigation">
          {{ range .content.Site.Menus.main }}
            <a href="{{ .URL }}">
              {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
              {{ end }}
              {{ $text := print .Name | safeHTML }}
              {{ $text }}
            </a>
          {{ end }}
        </div>
      </nav>
    {{ else }}
      <nav class="story-nav">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Ouvrir/fermer le menu"><span>Sommaire</span></button>
        <div class="menu" id="navigation">
          {{ with .content.Resources.GetMatch "story.json" }}
            {{ $story := .Content | unmarshal }}

            {{ range $story.passages }}
             {{ if .isChapter }}
                <a href="#passage-{{ .name }}">Chapitre {{ .name }}</a>
              {{ end}}
            {{ end }}
          {{ end }}
        </div>
      </nav>
      <a href="/stories" class="close-page"><span>Retour aux histoires</span></a>
    {{ end }}
  </div>
</header>