<header id="header" role="header">
  <div class="container">
    LOGO
    <nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span>Ouvrir le menu</span></button>
      <div class="menu" id="navigation">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">
            {{ if .Pre }}
              {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
              {{ $icon }}
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
          </a>
        {{ end }}
      </div>
    </nav>
  </div>
</header>