{{ $home_scroll_arrow := resources.Get "/media/arrow-scroll.svg" }}

<header class="home-hero">
  <img src="/assets/images/home/hero-2.png" alt="" class="parallax cover" data-depth="-2.5">
  <img src="/assets/images/home/hero-1.png" alt="" class="parallax cover" data-depth="1.6">

  <div class="home-hero__label parallax" data-depth="0.2">
    <span>souffrance</span>
  </div>

  <div class="home-hero__label parallax" data-depth="0.8">
    <span>tradition</span>
  </div>

  <div class="home-hero__label parallax" data-depth="0.4">
    <span>excision</span>
  </div>

  <div class="home-hero__label parallax" data-depth="0.8">
    <span>trauma</span>
  </div>
  <a href="#home-sections" title="Accéder au contenu de la page"><img src="{{ $home_scroll_arrow.RelPermalink }}" alt="" class="scroll-arrow" data-depth="-0.8"></a>

</header>
