{{ $home_hero_img := resources.Get "/media/home-hero.png" }}
{{ $home_scroll_arrow := resources.Get "/media/arrow-scroll.svg" }}

<header class="home-hero">
  <img src="{{ $home_hero_img.RelPermalink }}" alt="" class="parallax cover" data-depth="-0.8">

  <div class="home-hero__label parallax" data-depth="0.2">
    <span>souffrance</span>
  </div>

  <div class="home-hero__label parallax" data-depth="0.8">
    <span>tradition</span>
  </div>

  <div class="home-hero__label parallax" data-depth="0.4">
    <span>excision</span>
  </div>

  <div class="home-hero__label parallax" data-depth="0.8">
    <span>trauma</span>
  </div>
  <a href="#home-cta"><img src="{{ $home_scroll_arrow.RelPermalink }}" alt="" class="scroll-arrow" data-depth="-0.8"></a>

</header>
