{{ define "main" }}

<section class="story is-ending">
    <div class="container">
        <p>Avec cette expérience, nous souhaitons te sensibiliser sur ce sujet et te faire prendre conscience que <span
                class="red">cela
            nous concerne toutes et tous</span> :</p>

        <ul>
            <li>125 000 femmes vivant en France sont touchées par l’excision</li>
            <li>Concerne toutes les cultures et toutes les religions</li>
            <li>Douleurs, traumatismes, troubles psychologiques, exclusion, rapports sexuels sans plaisir, difficultés
                lors de l’accouchement…
            </li>
            <li>Douleurs chroniques et des infections chroniques telles que des infections urinaires, transmission du
                VIH par défaut d’asepsie…
            </li>
        </ul>

        <h2>Pour en savoir plus</h2>
        {{- partial "stories/organizations.html" -}}
        <a class="secondary-btn" href="/">Retour à l'accueil</a>
    </div>
</section>

{{ end }}